-#TODO: 1) think about helper for layouts
-#TODO: 2) dependency from foldername
= render "recommendations/#{recommendations_section_folder(items_type)}/content_based_section", content_based_data: data