| $("#content_personalities_wrapper").find(".form_section").html
  ("#{j(render 'content/personalities_section/form', personalities_data: @personalities_data)}");
| applySelect2ForContentPersonalities($("#personalities_ids"));