p
  strong Name:
  = @genre_data[:genre].name

= render partial: 'band_genres/content_section/wrapper', locals: { content_data: @genre_data[:content_data] }

= link_to 'Edit', edit_band_genre_path(@genre_data[:genre])
'  |
= link_to 'Back', band_genres_path
