h1 Hello
=link_to 'Your profile', actual_profile_path(current_user)
'
=link_to 'Content', content_index_path
'
=link_to 'Personalities', personalities_path
br
=link_to 'Recommendations', recommendations_path
br
br

' List of content genres:
br
=link_to 'Books genres', book_genres_path
'
=link_to 'Bands genres', band_genres_path
'
=link_to 'Movies genres', movie_genres_path
'
=link_to 'Games genres', game_genres_path
'